@import "../../../common";

.screen .content {
  .general-info {
    @include CenterV();
    margin-bottom: 2rem;

    span {
      &.total-players {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }

  .players {
    * {
      transition: all 0ms;
    }

    .player {
      transition: all 0ms;
      position: relative;
    }

    &.table {
      .player {
      }
    }

    &.tile {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 1.5rem;

      .player {
        @include Backdrop();
        border-radius: 1.5rem;
        background: rgba($color: $s-color, $alpha: 0.4);
        padding: 1.5rem 1.8rem;

        .actions {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: inherit;
          background: rgba($color: $s-color, $alpha: 0.8);
          @include Backdrop();
          width: 100%;
          height: 100%;
          pointer-events: none;
          opacity: 0;
          transition: all 250ms;

          @include Center();

          .action {
            @include Center();
            width: 3.5rem;
            height: 3.5rem;
            background: $s-color;
            border-radius: 0.5rem;
            cursor: pointer;
            margin: 0 0.25rem;

            i {
              font-size: 1.6rem;
            }
          }
        }

        &:hover {
          transition: all 250ms;
          transform: scale(0.97);

          .actions {
            opacity: 1;
            pointer-events: all;
          }
        }

        .name {
          font-size: 1.8rem;
          font-size: 600;
          margin-bottom: 0.5rem;

          &.dead {
            text-decoration: line-through;
            color: rgba($color: $t-color, $alpha: 0.4);
          }
        }

        .info-g1 {
          @include CenterV();
          margin-bottom: 1.8rem;
          justify-content: space-between;

          .dob,
          .occupation {
            color: rgba($color: $t-color, $alpha: 0.5);
          }
        }

        .info-g2 {
          @include CenterV();
          justify-content: space-between;

          .debt,
          .games-passed {
            font-weight: 500;
            color: rgba($color: $t-color, $alpha: 0.75);
          }

          .games-passed {
            color: rgba($color: $t-color, $alpha: 0.5);
          }
        }
      }
    }
  }
}
