<div class="screen">
  <div class="top">
    <div class="title">
      Players
      <span class="tag">{{ getPlayersLength(api.players) }}</span>
    </div>
    <div class="actions">
      <div class="action" style="margin-right: 2rem" routerLink="/games">
        <i class="las la-hand-scissors"></i>
        <span>Select Next Game</span>
      </div>
      <div
        class="action"
        [ngClass]="{ active: viewType == viewType_t.Tile }"
        (click)="viewType = viewType_t.Tile"
      >
        <i class="las la-stream"></i>
      </div>
      <div
        class="action"
        [ngClass]="{ active: viewType == viewType_t.Table }"
        (click)="viewType = viewType_t.Table"
      >
        <i class="las la-th-list"></i>
      </div>
      <div
        class="action"
        [ngClass]="{ active: doShowDead }"
        (click)="doShowDead = !doShowDead"
      >
        <i class="las la-skull-crossbones"></i>
      </div>
      <div
        class="action"
        [ngClass]="{ active: true }"
        (click)="
          isCreatingPlayer ? closeAddScreen() : (isCreatingPlayer = true)
        "
      >
        <i class="las la-times" *ngIf="isCreatingPlayer"></i>
        <i class="las la-plus" *ngIf="!isCreatingPlayer"></i>
      </div>
    </div>
  </div>
  <div class="content" [ngClass]="{ 'adding-player': isCreatingPlayer }">
    <div class="add-player" [ngClass]="{ active: isCreatingPlayer }">
      <div class="heading" *ngIf="isUpdating">Update player</div>
      <div class="heading" *ngIf="!isUpdating">Add new player</div>
      <div class="form">
        <div class="c2">
          <div class="input" (click)="name.focus()">
            <i class="las la-signature"></i>
            <input type="text" placeholder="Name" #name />
          </div>
          <div class="input" (click)="occupation.focus()">
            <i class="las la-user-md"></i>
            <input type="text" placeholder="Occupation" #occupation />
          </div>
        </div>
        <div class="c2">
          <div class="input" (click)="debt.focus()">
            <i class="las la-dollar-sign"></i>
            <input type="number" placeholder="Debt" #debt />
          </div>
          <div class="input" (click)="dob.focus()">
            <i class="las la-calendar-alt"></i>
            <input type="date" placeholder="Address" #dob />
          </div>
        </div>
        <div class="input" (click)="address.focus()">
          <i class="las la-igloo"></i>
          <input type="text" placeholder="Address" #address />
        </div>
      </div>
      <div class="actions">
        <div class="action" (click)="closeAddScreen()">Cancel</div>
        <div class="action primary" (click)="updatePlayer()" *ngIf="isUpdating">
          Update
        </div>
        <div
          class="action primary"
          (click)="createPlayer()"
          *ngIf="!isUpdating"
        >
          Add
        </div>
      </div>
    </div>
    <div class="players" [ngClass]="getClasses()">
      <ng-container
        *ngFor="let player of getObjectValues(api.players) | orderBy: 'name'"
      >
        <div #parent class="player" *ngIf="!(player.isDead && !doShowDead)">
          <div class="actions">
            <div class="action" (click)="editPlayer(player.id)">
              <i class="las la-pencil-alt"></i>
            </div>
            <div class="action" (click)="deletePlayer(parent, player.id)">
              <i class="las la-trash-alt"></i>
            </div>
            <div
              class="action"
              (click)="eliminatePlayer(parent, player.id)"
              *ngIf="!player.isDead"
            >
              <i class="las la-skull-crossbones"></i>
            </div>
          </div>
          <div class="name" [ngClass]="{ dead: player.isDead }">
            {{ player.name }}
          </div>
          <div class="info-g1">
            <div class="dob">{{ player.dob | date: "dd/MM/yyyy" }}</div>
            <div class="occupation">{{ player.occupation }}</div>
          </div>
          <div class="info-g2">
            <div class="debt">${{ player.debt }}</div>
            <div class="games-passed">{{ player.atGameNumber }} Games</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
