@import "../../../common";

.screen .content {
  padding: 0 2rem;

  .full-report {
    height: 0;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    padding: 0 2rem;

    display: grid;
    grid-template-rows: auto 5rem;

    .report {
      display: grid;
      grid-template-columns: 25rem auto;
      height: 100%;

      .about-game {
        .title {
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
    }

    .actions {
      @include CenterV();
      justify-content: flex-end;

      .action {
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        background: rgba($color: $p-color, $alpha: 0.6);
        cursor: pointer;
      }
    }
  }

  &.active {
    overflow: hidden;

    .full-report {
      opacity: 1;
      pointer-events: all;
      height: 100%;
      transform: scale(1);
    }
  }

  .games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

    .game {
      padding: 1rem 2rem;
      border-radius: 2rem;
      background: rgba($color: $s-color, $alpha: 0.5);
      position: relative;
      display: grid;
      grid-template-rows: 4rem auto 4rem;

      .name {
        font-size: 1.5rem;
        font-weight: 500;
        @include CenterV();
      }

      .description {
        text-overflow: ellipsis;
      }

      .actions {
        @include CenterV();
        justify-content: flex-end;

        .action {
          padding: 0.5rem 2rem;
          border-radius: 0.5rem;
          cursor: pointer;

          &.primary {
            padding: 0.5rem 1.5rem;
            background: rgba($color: $p-color, $alpha: 0.7);
          }
        }
      }

      .covered-check,
      .current-check {
        position: absolute;
        top: 2.3rem;
        right: 2.3rem;

        i {
          font-size: 1.5rem;
        }
      }

      &.covered {
        opacity: 0.5;

        .name {
          text-decoration: line-through;
        }
      }

      &.current {
        border: 5px solid rgba($color: $p-color, $alpha: 0.4);
      }
    }
  }
}
