<div class="screen">
  <div class="top">
    <div class="title">Games</div>
    <div class="actions">
      <div class="action" *ngIf="nextGameNo == -1" routerLink="/prize">
        <i class="las la-chart-pie"></i>
        <span>Results</span>
      </div>
      <div
        class="action"
        *ngIf="nextGameNo != -1"
        (click)="dataService.doShowDeadPlayers.next(false)"
        routerLink="/players"
      >
        <i class="las la-forward"></i>
        <span>Start Game</span>
      </div>
    </div>
  </div>
  <div class="content" [ngClass]="{ active: doShowFullReport }">
    <div class="full-report">
      <ng-container *ngIf="doShowAbout">
        <div class="about">
          <div class="title">{{ currentGame?.name }}</div>
          <div class="description">{{ currentGame?.description }}</div>
        </div>
        <div class="actions">
          <div class="action" (click)="closeGameAbout()">Close</div>
        </div>
      </ng-container>
      <ng-container *ngIf="!doShowAbout">
        <div class="report"></div>
        <div class="actions">
          <div class="action" (click)="closeGameStats()">Close</div>
        </div>
      </ng-container>
    </div>
    <div class="games">
      <div
        class="game"
        *ngFor="let game of api.games | async | orderBy: 'gameNo'"
        [ngClass]="{
          covered: game.hasCovered,
          current: game.gameNo == nextGameNo
        }"
      >
        <div class="covered-check" *ngIf="game.hasCovered">
          <i class="las la-check"></i>
        </div>
        <div class="current-check" *ngIf="game.gameNo == nextGameNo">
          <i class="las la-feather-alt"></i>
        </div>
        <div class="name">
          {{ game.name }}
        </div>
        <div class="description">{{ game.description.slice(0, 350) }}...</div>
        <div class="actions">
          <div
            class="action"
            style="margin-left: 1rem"
            (click)="showGameAbout(game.gameNo)"
          >
            About
          </div>
          <div
            class="action primary"
            *ngIf="game.gameNo < nextGameNo || nextGameNo == -1"
            (click)="showGameStats(game.gameNo)"
          >
            Stats
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
