#root {
  display: grid;
  grid-template-columns: 18rem auto;
  background: rgb(97, 97, 97);

  * {
    z-index: 1;
  }

  img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  main {
    z-index: 1;
    height: 100vh;
    padding: 0 1rem;

    display: grid;
    grid-template-rows: 5rem auto;

    .content {
      height: calc(100vh - 5rem);
      overflow-y: auto;
    }
  }
}
