@import "../../../common";

.cmp {
  @include CenterV();
  justify-content: space-between;
  height: 5rem;

  .title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .tools {
    @include CenterV();
    margin-right: 2rem;

    .search {
      @include CenterV();
      background: rgba($s-color, 0.7);
      padding: 0.8rem 1rem;
      border-radius: 0.8rem;
      backdrop-filter: blur(10px);

      i {
        font-size: 1.1rem;
        margin-right: 1rem;
        margin-bottom: -1px;
      }

      input {
        background: none;
        border: none;
        font-size: 0.9rem;
        width: 20vw;
      }
    }
  }
}
