@import "../../../common";

.cmp {
  @include CenterV();
  justify-content: space-between;
  height: 5rem;
  padding: 0 2rem;

  @include Backdrop();

  .title {
    font-size: 1.8rem;
    font-weight: 500;
    @include Center();

    img {
      width: 8rem;
    }
  }

  .tools {
    @include CenterV();

    .input {
      width: 35rem;
    }
  }
}
