$p-color: #e73d7c;
$s-color: #1e2129;
$t-color: #ffffff;

@mixin Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin CenterV {
  display: flex;
  align-items: center;
}

@mixin CenterH {
  display: flex;
  justify-content: center;
}

@mixin Backdrop {
  backdrop-filter: blur(20px) brightness(60%);
}
