@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./common";

* {
  font-size: 1rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: $t-color;
  transition: all 250ms ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0c0818;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ffffff36;
  border-radius: 5rem;
}

.screen {
  .top {
    @include CenterV();
    justify-content: space-between;
    height: 6rem;
    padding: 0 3rem;

    .title {
      @include CenterV();
      font-size: 1.8rem;
      font-weight: 500;

      span.tag {
        margin-left: 0.7rem;
        margin-top: 3px;
        padding: 0.3rem 1rem;
        background: $s-color;
        border-radius: 1rem;
        font-size: 0.8rem;
      }
    }

    .actions {
      @include CenterV();

      .action {
        @include Center();
        @include Backdrop();
        height: 2.7rem;
        min-width: 2.8rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-left: 1rem;

        &.active {
          background: rgba($color: $p-color, $alpha: 0.6);
        }

        i {
          font-size: 1.5rem;
        }

        span {
          white-space: nowrap;
          margin-left: 0.5rem;
        }
      }
    }
  }

  .content {
    height: calc(100vh - 7rem - 6rem);
    overflow-y: scroll;
  }
}

.input {
  @include CenterV();
  background: rgba($s-color, 0.7);
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(10px);

  i {
    font-size: 1.1rem;
    margin-right: 1rem;
    margin-bottom: -1px;
  }

  input {
    background: none;
    border: none;
    font-size: 0.9rem;
    width: 100%;
  }
}

.dropdown {
  position: relative;
  background: rgba($s-color, 0.7);
  border-radius: 0.8rem;
  backdrop-filter: blur(10px);
  height: 3.25rem;
  cursor: pointer;

  &:hover {
    .drop-content {
      opacity: 1;
    }
  }

  .main {
    @include CenterV();
    height: 3.25rem;

    .name {
      margin-left: 1rem;
      margin-top: -2px;
    }

    i {
      margin-left: 1rem;
      font-size: 1.1rem;
    }

    i.indicate {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }
  }

  &:hover {
    height: unset;
    border-radius: 0.8rem 0.8rem 0 0;

    i.indicate {
      transform: rotate(-180deg);
    }

    .drop-content {
      opacity: 1;
      pointer-events: all;
      height: auto;
    }
  }

  .drop-content {
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: all 0ms;
    position: absolute;
    top: 3.25rem;
    left: 0;
    width: 100%;
    background: rgba($s-color, 0.7);
    border-radius: 0 0 0.8rem 0.8rem;
    backdrop-filter: blur(10px);

    .item {
      padding: 0.6rem 1.5rem;

      &:first-of-type {
        padding-top: 0.8rem;
      }

      &:last-of-type {
        padding-bottom: 0.8rem;
      }
    }
  }
}
